<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Game Over!</title>
	<link rel="stylesheet" href="style/global.css">
	<link rel="stylesheet" href="style/waitingScreen.css">

	<script src="scripts/global.js"></script>
	<script src="scripts/socketScripts.js?ver=1"></script>
   <script src="scripts/jquery.js"></script>
	 <script src="/socket.io/socket.io.js"></script>
 	<script>
 	var socket = io.connect("<%= socketIP %>");
 	loadWaitingForNextGame('<%= game_id %>');
  </script>

</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '203380266741886',
      xfbml      : true,
      version    : 'v2.7'
    });
  };


  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div id="headerContainer">
				<a href="#" id="logoLink"><img src="img/logo.svg" id="logo"></a>

	<div id="waiting">Game Over</div>

</div>
<div id="messageWrap">
Thanks for playing, have your trusted leader click replay so you can play again and keep all this adrenaline pumping.
<p>

<br>
<div id="surveyWrap">
	Enjoyed our game or have any suggestions? <a href="https://goo.gl/forms/AYu9FFD7nS26Qwcn2">Give us feedback!</a>
</div>

</div>
<div id="tryContainer">

	<a href="joinQuizForm" class="regButton" id="tryHere" class="regButton">Start Fresh</a>
</div>

<script>
	// document.getElementById('shareOnFB').onclick = function() {
	//   FB.ui({
	//     method: 'share',
	//     display: 'iframe',
	//     quote: 'I just played the World\'s Best Trivia game on GameOn.World! Start a game now, it\'s free and easy to play!',
	//     href: 'https://gameon.world/game.php',
	//   }, function(response){});
	// }

</script>
</body>
</html>
