<style>
html{
	background:#333;
}
	#muteButton{
		background:url('img/mute1.png');
		border:0px;
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		outline:0px;
		cursor:pointer;
	}
	#muteButton:focus{
		outline:0px;
		border:0px;
	}

</style>
<audio autoplay  id="bgMusic">
  <source src="quiz.mp3"  type="audio/mpeg">
	Your browser does not support the audio element.
</audio>

<input type="button" id="muteButton" onclick="mute()">


<script type="text/javascript">
var playing = true;
function mute(){
	var music = document.getElementById("bgMusic");
	var button = document.getElementById("muteButton");
	if(playing==true){
		music.volume = 0;
		playing = false;
		button.style.backgroundImage = "url(img/mute2.png)";
	}else{
		music.volume = 1;
		playing = true;
		button.style.backgroundImage = "url(img/mute1.png)";

	}
}

</script>