.formHeader{
	font-size: 23px;
	font-weight: 100;
	text-align: right;
	color: #fff;
}

.jqLabel{
	display: block;
	font-weight: 500;
	font-size: 13px;
	color:rgba(255,255,255,.7);
	cursor:pointer;
}

.jqInput{
	width: 250px;
	box-sizing:border-box;
	padding:10px 15px;
	background:rgba(255,255,255,.5);
	border:0px solid #333;
	transition:.1s all;
	margin-bottom: 15px;
	font-size: 20px;
	color: #333;
	font-weight: 300;
	border-radius: 5px;
}

.jqInput:hover{
	background:rgba(255,255,255,.7);
	border: 0px solid #444;
}
.jqInput:focus{
	outline:0px;
	background:rgba(255,255,255,.8);
}

.jqInput::-webkit-input-placeholder {
   color: rgba(0,0,0,0.1);
}

.jqInput:-moz-placeholder { /* Firefox 11- */
   color: rgba(0,0,0,0.1);  
}

.jqInput::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.1);  
}

.jqInput:-ms-input-placeholder {  
   color: rgba(0,0,0,0.1);  
}


#jqJoin{
	padding:10px 25px 12px;
}
